* {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* .container {
	min-width: 1600px;
} */

.promo {
    position: relative;
    background: url(/src/img/IMG_9857.png) center center/cover no-repeat;
    min-height: 940px;
	max-width: 1600px;
}
.logo_promo {
    position: absolute;
    left: 25px;
    top: 21px;
}
.menu_flex {
    position: relative;
    padding: 53px 0 169px 92px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
	padding-right: 74px;
    height: 12px;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.triangle_1 {
    position: absolute;
    left: 180px;
	top: 63px;
	border: 5px solid transparent; 
	border-top: 5px solid white;
}

.triangle_2 {
    position: absolute;
    left: 325px;
	top: 63px;
	border: 5px solid transparent; 
	border-top: 5px solid white;
}

.triangle_3 {
    position: absolute;
	left: 490px;
	top: 63px;
	border: 5px solid transparent; 
	border-top: 5px solid white;
}

.text {
	width: 394px;
	margin-left: 75px;
}

.label {
	width: 405px;
	color: #ffffff;
	font-family: Lato;
	font-size: 52px;
	font-weight: 300;
	line-height: 62px;
}

.title {
	padding-top: 30px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.pic {
	position: absolute;
	top: 900px;
	height: 70px;
	min-width: 1600px;
	background-color: white;
	opacity: 0.5; 
	transform: rotate(-2deg);
}

.main {
	min-height: 450px;
	background-color: #ffffff;
}

.italic {
	padding: 70px 80px 15px 15px;
}

.text_italic {
	color: #fe992a;
	font-family: Lato;
	font-size: 20px;
	font-style: italic;
	line-height: 28px;
	margin: 20px 15px 30px 0;
}

.brakets {
	color: #fe992a;
	font-family: Lato;
	font-size: 48px;
	font-style: italic;
	line-height: 28px;
}

.brakets_end {
	color: #fe992a;
	font-family: Lato;
	font-size: 48px;
	font-style: italic;
	line-height: 28px;
	position: absolute;
	left: 130px;
	top: 320px;
}

.line {
	width: 1px;
	height: 297px;
	background-color: #eaeaea;
	margin-top: 120px;
}

.title_main {
	color: #fe992a;
	font-family: Lato;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 110px;
}

.text_main {
	color: #737c85;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 27px;
}

.box_main {
	display: flex;
	justify-content: space-around;
	width: 60px;
	position: absolute;
	left: 480px;
	top: 1320px;
}

.box {
	width: 30px;
	height: 30px;
	background-color: #fe992a;
	text-align: center;
	color: white;
	padding-top: 5px;
}

.box_two {
	width: 30px;
	height: 30px;
	background-color: #fe992a;
	opacity: 0.5;
	text-align: center;
	color: white;
	padding-top: 5px;
	margin-right: 10px;
}

.links {
	padding-top: 50px;
	color: #ffffff;
	font-family: "Droid Sans";
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	font-family: "Droid Sans - Regular";
	font-family: "Droid Sans - Bold";
	font-weight: 700;
}

.link_info {
	max-width: 1600px;
	height: 474px;
	background-color: rgba(240,128,128, 1)
}

.footer_links {
	font-family: "Droid Sans - Regular";
	color: #ffffff;
}

.adress {
	padding-top: 32px;
}